// Media screen
$maxwidth: 1300px;
$md1: 1199.98px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 575.98px;
$minwidth: 359px;


// Colors
$primary_color: #272828;
$secondary_color: #fff;

$x_color_darkGray: #242424;
$color_alpha: $x_color_darkGray;

$x_color_blue: #4a739e;
$color_beta: $x_color_blue;

$x_color_pink: #c66d74;
$color_gamma: $x_color_pink;

// $x_color_: ;
// $color_delta: ;

// $x_color_: ;
// $color_epsilon: ;

// $x_color_: ;
// $color_zeta: ;


//Font-family
$primary_font: 'Circe Extra Bold', sans-serif;
$secondary_font: 'Circe Regular', sans-serif;

$font_alpha: 'Circe Bold', sans-serif;
$font_beta: 'Futura PT Book', sans-serif;


//Font-size
$primary_size: 16px;
$secondary_size: 14px;

$size_big: 48px;
$size_alpha: 36px;
$size_beta: 25px;
$size_gamma: 24px;
$size_delta: 15px;
$size_epsilon: 18px;



//Font-weight
$primary_weight: 400;
$secondary_weight: 700;