.products {
	padding: 260px 0px 120px;
	&__wrapper {
		position: relative;
	}
}

@media(max-width: $md2) {
	.products {
		padding: 130px 0px 120px;
	}
}

@media(max-width: $md3) {
	.products {
		padding: 90px 0px 80px;
	}
}
